.oxmod-company-introduce{
/* CSS */
	font-size:12px;
	padding:10px;
	color:#444;
	line-height: 1.5;
	h3{
		color:#f90;
		text-align:center;
		&:after,
		&:before{
			width:20px;
			background-color: #f90;
			height:1px;
			content: '';
			line-height: 1;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			opacity: .5;
			margin:0 10px;
		}
	}
 }
